.footer {
  background-color:  rgb(255, 249, 249);
  color: #0f0c0c;
  padding: 10px ;
  box-shadow: 0 -4px 6px 1px rgba(0, 0, 0, 0.1);
  bottom: 0;
  max-width: 100%;
  
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-left: 20px;
}

.footer-content nav {
  flex-grow: 1; 
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline;
  margin-right: 20px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links a {
  color: #111010;
  font-weight: bold;
  text-decoration: none;

}

.footer-links a:hover {
  text-decoration: none;
  color: rgb(167, 30, 126);
}

.footer-content p {
  margin: 0;
  margin-left: 1px;
}

.footer-content p:first-child {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .footer{
      flex-direction: column;
      flex-wrap: wrap;
  }
  .footer-content{
      flex-direction: column;
  }
}