.carroboton {
    width: 100%;
    margin-top: 0px; /* Agrega un espacio entre la tabla y los botones */
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    font-family: var(--tipoletra);
    margin-bottom: 20px;
    background-color: #f2f2f2;
    height: 100px;
    padding-bottom:10px ;
    margin-bottom: 60px;
  }
  
  .carroboton button {
    max-width: 50px;
    padding: 10px 100px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding-left:  50px;
    /*margin: 20px;  Espacio entre los botones */
    font-size: 20px;
  }
   
  /* .carroboton button:first-child {
    margin-right: 0; /* Elimina el margen izquierdo del primer botón */
   
    .botonvacio {
      width: 100%;
      display: flex;
      flex-direction: column; /* Cambia la dirección del contenedor a columna */
      justify-content: center; /* Centra los elementos horizontalmente */
      align-items: center; /* Centra los elementos verticalmente */
      font-family: var(--tipoletra);
      margin-bottom: 80px;
      margin-top: 200px;
      background-color: #f2f2f2;
      height: 100px;
      padding-bottom: 50px;
      padding: auto;
  }
  
  .botonvacio h1 {
      margin-bottom: 5px; /* Ajusta el espacio entre el título y el botón */
  }
  
  .botonvacio button {
      width: auto; /* Ancho automático para ajustarse al contenido */
      padding: 10px 30px; /* Ajusta el espaciado interno del botón */
      background-color: #000000;
      color: #fff;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      white-space: nowrap; /* Evita que el texto del botón se divida en varias líneas */
  }
  
  
  .botonvacio button:hover {
    background-color: #e95050;
  }

  h2{
    text-align: center;
    padding-top: 20px;
    font-family: var(--tipoletra);
    padding-bottom: -10px;
  }
  