.form-container112 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    flex-direction: column;
  }

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.contenedorperfil:hover{
    box-shadow: var(--boxshadow);
}

